:root {
  --first-backlight-color: #2196f3;
  --second-backlight-color: #ffffff;
  --headers-dark-color: #212121;
  --text-white-color: #ffffff;
  --text-color: #757575;
  --btn-fokus: #188ce8;
  --background-color: #2f303a;
  --background-filters-button: #f5f4fa;
  --font-weight-bold: 700;
  --font-weight-medium: 500;
  --timing-hover-focus: 250ms;
  --function-hover-focus: cubic-bezier(0.4, 0, 0.2, 1);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

li,
ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  font-style: normal;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  color: var(--heders-dark-color);
}

.sections {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .sections {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.nav {
  margin-left: 88px;
}

@media screen and (min-width: 1200px) {
  .nav {
    margin-left: 93px;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__list .nav__item + .nav__item {
  margin-left: 50px;
}

.nav__link {
  display: inline-block;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-top: 21px;
  padding-bottom: 21px;
  color: #212121;
  font-weight: var(--font-weight-medium);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--timing-hover-focus);
          transition-duration: var(--timing-hover-focus);
  -webkit-transition-timing-function: var(--function-hover-focus);
          transition-timing-function: var(--function-hover-focus);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
}

.nav__link:hover, .nav__link:focus {
  color: var(--first-backlight-color);
  font-weight: var(--font-weight-medium);
}

@media screen and (min-width: 1200px) {
  .nav__link {
    font-size: 14px;
    line-height: 1.14;
  }
}

@media screen and (min-width: 768px) {
  .nav__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.nav__item--position {
  position: relative;
}

.nav__link--active {
  color: var(--first-backlight-color);
}

.nav__link--active::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  color: var(--first-backlight-color);
  background: #2196f3;
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: -3px;
}

.nav__link--active::after {
  color: var(--first-backlight-color);
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 500ms, visibility 500ms;
  transition: opacity 500ms, visibility 500ms;
}

.backdrop.is-hidden .modal {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-transform: rotate(150deg);
          transform: rotate(150deg);
}

.modal {
  width: 90vw;
  min-height: 609px;
  background-color: var(--second-backlight-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 600ms;
  transition: -webkit-transform 600ms;
  transition: transform 600ms;
  transition: transform 600ms, -webkit-transform 600ms;
  padding: 40px;
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}

.modal-title {
  font-weight: var(--font-weight-bold);
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--headers-dark-color);
  text-align: center;
  margin-bottom: 12px;
}

.modal__close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--second-backlight-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal__close:hover,
.modal__close:focus .modal__close-icon {
  fill: var(--first-backlight-color);
}

.modal__close-icon {
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: var(--timing-hover-focus);
          transition-duration: var(--timing-hover-focus);
  -webkit-transition-timing-function: var(--function-hover-focus);
          transition-timing-function: var(--function-hover-focus);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-form {
  position: relative;
}

.modal-form__input {
  display: block;
  margin-bottom: 10px;
  color: var(--first-backlight-color);
  position: relative;
}

.modal-form__label {
  display: block;
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  color: var(--text-color);
  margin-bottom: 4px;
}

.modal-form__text {
  width: 100%;
  height: 40px;
  padding-left: 35px;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--text-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: var(--timing-hover-focus);
          transition-duration: var(--timing-hover-focus);
  -webkit-transition-timing-function: var(--function-hover-focus);
          transition-timing-function: var(--function-hover-focus);
}

.modal-form__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: var(--timing-hover-focus);
          transition-duration: var(--timing-hover-focus);
  -webkit-transition-timing-function: var(--function-hover-focus);
          transition-timing-function: var(--function-hover-focus);
}

.modal-form__textarea {
  display: block;
  width: 100%;
  height: 96px;
  padding: 12px 16px;
  resize: none;
  line-height: 1.14;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: var(--timing-hover-focus);
          transition-duration: var(--timing-hover-focus);
  -webkit-transition-timing-function: var(--function-hover-focus);
          transition-timing-function: var(--function-hover-focus);
}

.form-checkbox-wrap {
  margin-top: 20px;
}

.form-checkbox {
  color: var(--text-color);
}

.form-checkbox__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-checkbox__input:checked + .form-checkbox__text::before {
  border: none;
  background-image: url(../image/iconcheck.svg);
}

@media screen and (min-width: 1200px) {
  .form-checkbox__text {
    font-size: 14px;
    line-height: 1.7px;
  }
}

.form-checkbox__text::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 1px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
}

.form-checkbox__link {
  color: var(--first-backlight-color);
  text-decoration: underline;
}

.modal-button {
  color: var(--text-white-color);
}

.modal-button-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.modal-form__text:focus {
  border: 1px solid var(--btn-fokus);
  border-radius: 4px;
}

.modal-form__text:focus + .modal-form-icon {
  fill: var(--first-backlight-color);
}

.modal-form__textarea:focus {
  border: 1px solid var(--btn-fokus);
  border-radius: 4px;
}

.modal-button__text {
  width: 200px;
  height: 50px;
  font-weight: var(--font-weight-bold);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--text-white-color);
  background: var(--first-backlight-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  cursor: pointer;
  -webkit-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: var(--timing-hover-focus);
          transition-duration: var(--timing-hover-focus);
  -webkit-transition-timing-function: var(--function-hover-focus);
          transition-timing-function: var(--function-hover-focus);
}

.modal-button__text:hover, .modal-button__text:focus {
  background: var(--btn-fokus);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  border-bottom: solid 1px #ececec;
}

.header--container {
  display: none;
}

@media screen and (min-width: 768px) {
  .header--container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header-mob {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .header-mob {
    display: none;
  }
}

.logo {
  display: inline-block;
  font-family: Raleway;
  font-weight: var(--font-weight-bold);
  font-size: 24px;
  line-height: 1.17;
  margin-bottom: 0;
  color: var(--first-backlight-color);
}

@media screen and (min-width: 768px) {
  .logo {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo__color {
  font-family: Raleway;
  font-weight: var(--font-weight-bold);
  font-size: 24px;
  line-height: 1.17;
  color: black;
}

@media screen and (min-width: 1200px) {
  .logo__color {
    font-size: 26px;
    line-height: 1.19;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.contacts__link {
  display: block;
  font-weight: var(--font-weight-medium);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  padding-top: 0px;
  color: var(--text-color);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--timing-hover-focus);
          transition-duration: var(--timing-hover-focus);
  -webkit-transition-timing-function: var(--function-hover-focus);
          transition-timing-function: var(--function-hover-focus);
}

.contacts__link:hover, .contacts__link:focus {
  color: var(--first-backlight-color);
}

@media screen and (min-width: 768px) {
  .contacts__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    line-height: 1.14;
  }
}

.contacts {
  display: block;
  margin-left: auto;
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}

.contacts__item {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1200px) {
  .contacts__item {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}

.contacts__item:last-child {
  margin-bottom: 0px;
}

@media screen and (min-width: 1200px) {
  .contacts .contacts__item + .contacts__item {
    margin-left: 30px;
  }
}

@media screen and (min-width: 480px) {
  .mob-container {
    width: 480px;
  }
}

.header-mob {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: solid 1px #ececec;
}

@media screen and (min-width: 768px) {
  .header-mob {
    display: none;
  }
}

.header-mob__icon:hover,
.header-mob__icon:focus .modal__close-icon {
  fill: var(--first-backlight-color);
}

.mob-menu-open {
  background-color: transparent;
  outline: none;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

.mob-menu-bottom {
  position: absolute;
  margin-bottom: 48px;
  bottom: 0;
}

.mob-menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  padding-top: 48px;
  padding-left: 40px;
}

.mob-menu-nav {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #212121;
}

.mob-menu-nav--active {
  color: #2196f3;
}

.mob-menu-contacts-item:first-child {
  margin-bottom: 32px;
}

.mob-menu-nav-item {
  margin-bottom: 30px;
}

.mob-menu-contacts-item {
  margin-top: 30px;
  margin-bottom: 64px;
}

.mob-menu-contacts-tel {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mob-menu-contacts-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #757575;
}

.mob-menu-contacts-link:hover {
  color: #2196f3;
}

.menu-close-btn {
  position: absolute;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: var(--timing-hover-focus);
          transition-duration: var(--timing-hover-focus);
  -webkit-transition-timing-function: var(--function-hover-focus);
          transition-timing-function: var(--function-hover-focus);
  top: 10px;
  right: 15px;
  background-color: #ffffff;
  border: none;
}

.menu-close-btn:hover,
.menu-close-btn:focus .modal__close-icon {
  fill: var(--first-backlight-color);
}

.mob-menu-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mob-menu-social-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mob-menu-social-link-first {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mob-menu-social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mob-menu-social-list .mob-menu-social-item + .mob-menu-social-item {
  margin-left: 10px;
}

.mob-menu-social-link::before {
  content: "";
  width: 22px;
  height: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-right: 10px;
}

.hero {
  background-color: var(--background-color);
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 1600px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../image/hero/hero-mob-1x.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/hero/hero-mob-1x.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../image/hero/hero-mob-2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/hero/hero-mob-2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../image/hero/hero-tab-1x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/hero/hero-tab-1x.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../image/hero/hero-tab-2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/hero/hero-tab-2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../image/hero/hero-desc-1x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/hero/hero-desc-1x.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../image/hero/hero-desc-2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/hero/hero-desc-2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
  }
}

.hero__header {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  color: var(--text-white-color);
}

@media screen and (min-width: 480px) {
  .hero__header {
    width: 360px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__header {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: var(--font-weight-bold);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--text-white-color);
  background: var(--first-backlight-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  margin-right: auto;
  margin-left: auto;
  -webkit-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: var(--timing-hover-focus);
          transition-duration: var(--timing-hover-focus);
  -webkit-transition-timing-function: var(--function-hover-focus);
          transition-timing-function: var(--function-hover-focus);
}

.hero__button:focus, .hero__button:hover {
  background: var(--btn-fokus);
}

@media screen and (min-width: 1200px) {
  .sections-conditions {
    padding-bottom: 0px;
    margin-bottom: -30px;
  }
}

.conditions {
  color: var(--headers-dark-color);
}

.conditions__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 120px;
  width: 100%;
  margin-bottom: 30px;
  background: var(--background-filters-button);
  border-radius: 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .conditions__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
  }
}

.conditions__item {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .conditions__item {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .conditions__item {
    width: calc(100% / 4 - 30px);
    margin-left: 30px;
  }
}

.conditions__item:last-child {
  margin-bottom: 0;
}

.conditions__subtitle {
  font-weight: var(--font-weight-bold);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .conditions__subtitle {
    text-align: center;
  }
}

.conditions__text {
  line-height: 1.7;
  width: 100%;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.about {
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .about-hidden {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .about-hidden {
    padding-top: 94px;
  }
}

.about__header {
  font-weight: var(--font-weight-bold);
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.about__imj {
  position: relative;
}

.about__text {
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: var(--font-weight-bold);
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  color: #ffffff;
}

.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

.about__list {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  background: var(--background-filters-button);
  color: var(--headers-dark-color);
}

.about__list .about__imj + .about__imj {
  margin-left: 30px;
}

.sections-bg {
  background: var(--background-filters-button);
}

.team-header {
  font-weight: var(--font-weight-bold);
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .team-header {
    font-size: 36px;
    line-height: 1.16;
  }
}

.team {
  margin-top: 30px;
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
  }
}

.team__card {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .team__card {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__card {
    width: calc(100% / 4 - 30px);
    margin-left: 30px;
    margin-top: 50px;
  }
}

.team__card {
  background: var(--second-backlight-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.person--border {
  border-top-style: none;
  padding-top: 30px;
  padding-bottom: 30px;
}

.person {
  text-align: center;
}

.person__name {
  font-weight: var(--font-weight-medium);
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.person__profession {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 10px;
  color: var(--text-color);
}

.person__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
}

.person__social-icon {
  fill: currentColor;
}

.person__social-item + .person__social-item {
  margin-left: 10px;
}

.person__social-link {
  width: 44px;
  height: 44px;
  background-color: var(--second-backlight-color);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #afb1b8;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: var(--timing-hover-focus);
          transition-duration: var(--timing-hover-focus);
  -webkit-transition-timing-function: var(--function-hover-focus);
          transition-timing-function: var(--function-hover-focus);
}

.person__social-link:hover, .person__social-link:focus {
  background-color: var(--first-backlight-color);
  color: var(--second-backlight-color);
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: -30px;
  margin-bottom: -30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clients-list__item {
  width: calc(100% / 2 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .clients-list__item {
    width: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list__item {
    width: calc(100% / 6 - 30px);
    margin-left: 30px;
  }
}

.clients-header {
  font-weight: var(--font-weight-bold);
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .clients-header {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

.clients-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #afb1b8;
  -webkit-transition-property: color, border;
  transition-property: color, border;
  -webkit-transition-duration: var(--timing-hover-focus);
          transition-duration: var(--timing-hover-focus);
  -webkit-transition-timing-function: var(--function-hover-focus);
          transition-timing-function: var(--function-hover-focus);
}

.clients-list__link:hover, .clients-list__link:focus {
  border: 1px solid var(--first-backlight-color);
  cursor: pointer;
  color: var(--first-backlight-color);
}

.clients-list__icon {
  fill: currentColor;
}

.footer {
  background-color: var(--background-color);
  line-height: 1.19;
  padding-top: 60px;
  padding-bottom: 60px;
  color: var(--text-white-color);
}

.address {
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--text-white-color);
}

.address__item {
  margin-top: 8px;
}

@media screen and (min-width: 1200px) {
  .address__item {
    text-align: left;
  }
}

.address__list :first-child {
  margin-top: 0px;
}

.address__link {
  display: inline-block;
  color: #ffffff99;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--timing-hover-focus);
          transition-duration: var(--timing-hover-focus);
  -webkit-transition-timing-function: var(--function-hover-focus);
          transition-timing-function: var(--function-hover-focus);
}

.address__link:hover, .address__link:focus {
  color: var(--second-backlight-color);
}

.address__text {
  display: inline-block;
  color: var(--text-white-color);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--timing-hover-focus);
          transition-duration: var(--timing-hover-focus);
  -webkit-transition-timing-function: var(--function-hover-focus);
          transition-timing-function: var(--function-hover-focus);
}

.address__text:hover, .address__text:focus {
  color: var(--first-backlight-color);
}

@media screen and (min-width: 1200px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .footer-contacts {
    display: block;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

@media screen and (min-width: 768px) {
  .footer-contacts-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.footer-logo {
  display: block;
  font-family: Raleway;
  font-weight: var(--font-weight-bold);
  font-size: 24px;
  line-height: 1.16;
  margin-bottom: 20px;
  padding-top: 0px;
  color: var(--first-backlight-color);
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer-logo {
    font-size: 26px;
    line-height: 1.19;
    text-align: left;
  }
}

.footer-logo__White {
  font-family: Raleway;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.16;
  color: var(--text-white-color);
}

@media screen and (min-width: 1200px) {
  .footer-logo__White {
    font-size: 26px;
    line-height: 1.19;
  }
}

.footer-social {
  color: var(--text-white-color);
  margin-top: 60px;
}

@media screen and (min-width: 768px) {
  .footer-social {
    margin-top: 0;
  }
}

.footer-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-social__icon {
  fill: var(--second-backlight-color);
}

.footer-social__item + .footer-social__item {
  margin-left: 10px;
}

.footer-social__header {
  font-size: 14px;
  font-weight: var(--font-weight-bold);
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer-social__header {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .footer-social-wrap {
    margin-left: 70px;
    margin-top: 0;
  }
}

.footer-social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: var(--timing-hover-focus);
          transition-duration: var(--timing-hover-focus);
  -webkit-transition-timing-function: var(--function-hover-focus);
          transition-timing-function: var(--function-hover-focus);
}

.footer-social__link:hover, .footer-social__link:focus {
  background-color: var(--first-backlight-color);
}

.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -8px;
  margin-top: -15px;
}

@media screen and (min-width: 768px) {
  .filters {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 0;
  }
}

.filters .filters__item + .filters__item {
  margin-left: 8px;
}

.filters__item {
  margin-top: 15px;
  margin-left: 8px;
}

@media screen and (min-width: 768px) {
  .filters__item {
    margin-top: 0;
  }
}

.filters .filters__button {
  font-weight: var(--font-weight-medium);
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  cursor: pointer;
  background: var(--background-filters-button);
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  -webkit-transition-property: color, background, -webkit-box-shadow;
  transition-property: color, background, -webkit-box-shadow;
  transition-property: color, background, box-shadow;
  transition-property: color, background, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: var(--timing-hover-focus);
          transition-duration: var(--timing-hover-focus);
  -webkit-transition-timing-function: var(--function-hover-focus);
          transition-timing-function: var(--function-hover-focus);
}

.filters .filters__button:focus, .filters .filters__button:hover {
  background: var(--first-backlight-color);
  color: var(--second-backlight-color);
  -webkit-box-shadow: 0px 2px 2px 0px #0000001f;
          box-shadow: 0px 2px 2px 0px #0000001f;
  -webkit-box-shadow: 0px 1px 2px 0px #00000014;
          box-shadow: 0px 1px 2px 0px #00000014;
  -webkit-box-shadow: 0px 3px 1px 0px #0000001a;
          box-shadow: 0px 3px 1px 0px #0000001a;
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 40px;
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .project {
    margin-top: 30px;
    margin-left: -30px;
    margin-bottom: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .project {
    margin-top: 50px;
  }
}

.project__item {
  margin-bottom: 30px;
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .project__item {
    margin-bottom: 30px;
    margin-top: 0;
  }
}

.project__wrap {
  position: relative;
  overflow: hidden;
}

.project__text-imj {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--text-white-color);
  padding: 63px 24px 24px;
  height: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform var(--timing-hover-focus);
  transition: -webkit-transform var(--timing-hover-focus);
  transition: transform var(--timing-hover-focus);
  transition: transform var(--timing-hover-focus), -webkit-transform var(--timing-hover-focus);
  overflow: auto;
}

.project__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 768px) {
  .project__item {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .project__item {
    width: calc(100% / 3 - 30px);
    margin-left: 30px;
  }
}

.project__container {
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
  background: var(--second-backlight-color);
  border: 1px solid #eeeeee;
  border-top-style: none;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.project__titl {
  font-weight: var(--font-weight-bold);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--headers-dark-color);
}

.project__text {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.project__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: var(--timing-hover-focus);
          transition-duration: var(--timing-hover-focus);
  -webkit-transition-timing-function: var(--function-hover-focus);
          transition-timing-function: var(--function-hover-focus);
}

.project__link:focus,
.project__link:hover .project__text-imj {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.project__link:hover, .project__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.footer-form-wrap {
  margin-top: 60px;
}

@media screen and (min-width: 1200px) {
  .footer-form-wrap {
    margin-left: 93px;
    margin-top: 0;
  }
}

.footer-form {
  color: var(--text-white-color);
}

.footer-form .footer-form__header {
  text-align: center;
  font-size: 14px;
  font-weight: var(--font-weight-bold);
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .footer-form .footer-form__header {
    text-align: start;
    margin-top: 0;
  }
}

.footer-form .footer-form__list {
  font-size: 16px;
  line-height: 1.25;
}

@media screen and (min-width: 1200px) {
  .footer-form .footer-form__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer-form .footer-form__imail {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 50px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
  color: #ffffff;
  margin-bottom: 20px;
}

@media screen and (min-width: 480px) {
  .footer-form .footer-form__imail {
    width: 358px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form .footer-form__imail {
    margin-bottom: 0;
  }
}

.futer-form__icon {
  right: 28px;
  top: 13px;
  margin-left: 12px;
}

.futer-form__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 50px;
  font-weight: var(--font-weight-bold);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--text-white-color);
  background: var(--first-backlight-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  cursor: pointer;
  -webkit-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: var(--timing-hover-focus);
          transition-duration: var(--timing-hover-focus);
  -webkit-transition-timing-function: var(--function-hover-focus);
          transition-timing-function: var(--function-hover-focus);
}

@media screen and (min-width: 1200px) {
  .futer-form__button {
    margin-left: 12px;
  }
}

.futer-form__button:focus, .futer-form__button:hover {
  background: var(--btn-fokus);
}

.futer-form__button-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=main.css.map */