.about {
  text-align: center;
}
.about-hidden {
  @media screen and (max-width: 1200px) {
    display: none;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
  }
}

.about__header {
  font-weight: var(--font-weight-bold);
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
.about__imj {
  position: relative;
}
.about__text {
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: var(--font-weight-bold);
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  color: #ffffff;
}
.about__list {
  display: flex;
  margin-top: 50px;
}
.about__list {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  background: var(--background-filters-button);
  color: var(--headers-dark-color);
}
.about__list .about__imj + .about__imj {
  margin-left: 30px;
}
