.footer-logo {
  display: inline-block;
  font-family: Raleway;
  font-weight: var(--font-weight-bold);
  font-size: 26px;
  line-height: 1.19;
  padding-top: 0px;
  margin-bottom: 20px;
  color: var(--first-backlight-color);
}
.footer-logo__White {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--text-white-color);
}
