.footer-social {
  color: var(--text-white-color);
  &__list {
    display: flex;
  }
  &__icon {
    fill: var(--second-backlight-color);
  }
  &__item + &__item {
    margin-left: 10px;
  }
  &__header {
    font-weight: var(--font-weight-bold);
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
}
.footer-social-wrap {
  margin-left: 70px;
}

.footer-social__link {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: var(--timing-hover-focus);
  transition-timing-function: var(--function-hover-focus);
  &:hover,
  &:focus {
    background-color: var(--first-backlight-color);
  }
}
