.footer {
  background-color: var(--background-color);
  line-height: 1.19;
  padding-top: 60px;
  padding-bottom: 60px;
  color: var(--text-white-color);
}
.address {
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--text-white-color);

  &__item {
    margin-top: 8px;
    @media screen and (min-width: 1200px) {
      text-align: left;
    }
  }
  &__list :first-child {
    margin-top: 0px;
  }
}
.address__link {
  display: inline-block;
  color: #ffffff99;
  transition-property: color;
  transition-duration: var(--timing-hover-focus);
  transition-timing-function: var(--function-hover-focus);
  &:hover,
  &:focus {
    color: var(--second-backlight-color);
  }
}
.address__text {
  display: inline-block;
  color: var(--text-white-color);
  transition-property: color;
  transition-duration: var(--timing-hover-focus);
  transition-timing-function: var(--function-hover-focus);
  &:hover,
  &:focus {
    color: var(--first-backlight-color);
  }
}

.footer-container {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}
.footer-contacts {
  @media screen and (min-width: 1200px) {
    display: block;
  }
}
.footer-contacts-wrap {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-grow: 1;
  }
}
