.footer {
  background-color: var(--background-color);
}
.footer-logo {
  display: inline-block;
  font-family: Raleway;
  font-weight: var(--font-weight-bold);
  font-size: 26px;
  line-height: 1.19;
  padding-top: 0px;
  margin-bottom: 20px;
  color: var(--first-backlight-color);
}
.footer-logo__White {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--text-white-color);
}
.address {
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--text-white-color);
}
.adress__item {
  margin-top: 9px;
}
.adress__list :first-child {
  margin-top: 0px;
}

.footer-container {
  display: flex;
  align-items: baseline;
  flex-grow: 1;
  line-height: 1.19;
  padding-top: 60px;
  padding-bottom: 60px;
  color: var(--text-white-color);
}
.footer-contacts {
  flex-grow: 1;
}

.address__link {
  display: inline-block;
  color: #ffffff99;
  transition-property: color;
  transition-duration: var(--timing-hover-focus);
  transition-timing-function: var(--function-hover-focus);
  &:hover,
  &:focus {
    color: var(--second-backlight-color);
  }
}

.address__text {
  display: inline-block;
  color: var(--text-white-color);
  transition-property: color;
  transition-duration: var(--timing-hover-focus);
  transition-timing-function: var(--function-hover-focus);
  &:hover,
  &:focus {
    color: var(--first-backlight-color);
  }
}
