.header--container {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
    border-bottom: solid 1px #ececec;
  }
}
.header-mob {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.logo {
  display: inline-block;
  font-family: Raleway;
  font-weight: var(--font-weight-bold);
  font-size: 26px;
  line-height: 1.19;
  padding-top: 16px;
  padding-bottom: 16px;

  margin-bottom: 0;
  color: var(--first-backlight-color);
  &__color {
    font-family: Raleway;
    font-weight: var(--font-weight-bold);
    font-size: 26px;
    line-height: 1.19;
    color: black;
  }
  @media screen and (min-width: 768px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.contacts__link {
  font-weight: var(--font-weight-medium);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--text-color);
  align-items: center;
  transition-property: color;
  transition-duration: var(--timing-hover-focus);
  transition-timing-function: var(--function-hover-focus);
  &:hover,
  &:focus {
    color: var(--first-backlight-color);
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    font-size: 14px;
    line-height: 1.14;
  }
}

.contacts {
  margin-left: 84px;
  &__icon {
    fill: currentColor;
    margin-right: 10px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: auto;
  }

  &__icon {
    fill: currentColor;
    margin-right: 10px;
  }
}
.contacts .contacts__item + .contacts__item {
  @media screen and (min-width: 1200px) {
    margin-left: 30px;
  }
}
