.project {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: -30px;
  margin-left: -30px;
  &__item {
    margin-top: 30px;
    width: 100%;
  }
  &__wrap {
    position: relative;
    overflow: hidden;
  }
  &__text-imj {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(33, 150, 243, 0.9);
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: var(--text-white-color);
    padding: 63px 24px 24px;
    height: 100%;
    transform: translateY(100%);
    transition: transform var(--timing-hover-focus);
    overflow: auto;
  }
  &__item {
    @media screen and (min-width: 768px) {
      width: calc(100% / 2 - 30px);
      margin-left: 30px;
    }
    @media screen and (min-width: 1200px) {
      width: calc(100% / 3 - 30px);
      margin-left: 30px;
    }
  }
  .project__link--first {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__container {
    padding-top: 20px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 20px;
    background: var(--second-backlight-color);
    border: 1px solid #eeeeee;
    border-top-style: none;
    flex-grow: 1;
  }
  &__titl {
    font-weight: var(--font-weight-bold);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
    color: var(--headers-dark-color);
  }
  &__text {
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--text-color);
  }
}

.project__link {
  display: block;
  transition-property: box-shadow;
  transition-duration: var(--timing-hover-focus);
  transition-timing-function: var(--function-hover-focus);
  &:focus,
  &:hover .project__text-imj {
    transform: translateY(0);
  }
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
