.nav {
  margin-left: 88px;
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
  &__list {
    display: flex;
  }
  &__list &__item + &__item {
    margin-left: 50px;
  }
  &__link {
    display: inline-block;
    align-items: baseline;
    padding-top: 21px;
    padding-bottom: 21px;
    color: #212121;
    font-weight: var(--font-weight-medium);
    transition-property: color;
    transition-duration: var(--timing-hover-focus);
    transition-timing-function: var(--function-hover-focus);
    &:hover,
    &:focus {
      color: var(--first-backlight-color);
      font-weight: var(--font-weight-medium);
    }
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    @media screen and (min-width: 1200px) {
      font-size: 14px;
      line-height: 1.14;
    }
    @media screen and (min-width: 768px) {
      padding-top: 32px;
      padding-bottom: 32px;
    }
  }

  &__item--position {
    position: relative;
  }
  &__link--active {
    color: var(--first-backlight-color);
  }
  &__link--active::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    color: var(--first-backlight-color);
    background: #2196f3;
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: -1px;
    & {
      color: var(--first-backlight-color);
    }
  }
}
