img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}
body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  color: var(--heders-dark-color);
}

.sections {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
